
@import url('http://fonts.cdnfonts.com/css/nickainley?styles=25969');


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  color: silver;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/brick_bg.jpg");
  /* Background photo created by benzoix - www.freepik.com */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.9);
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.nav__logo {
  padding: 10px 20px;
}
.nav__list {
  position: absolute;
  padding: 0;
  width: 70%;
  right: -100%;
  top: 40px;
  z-index: 2;
  transition: right ease 0.5s;
  height: 100vh;
  background-color: black;
}
@media screen and (min-width: 650px) {
  .nav__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
  }
}
.nav__item {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 13px;
}
.nav__item a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.hamburger {
  margin: 10px 20px;
  justify-self: right;
  cursor: pointer;
}
@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }
}

.bar1, .bar2, .bar3 {
  width: 33px;
  height: 2px;
  background-color: silver;
  margin: 8px;
  transition: 0.4s;
  border-radius: 3px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-10px, 9px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-3px, -5px);
}

.active {
  right: 0;
}

.scrolled {
  background: rgba(0, 0, 0, 0.7);
}

header {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Nickainley", sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(217, 64, 163, 0.6);
  margin: 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 160px;
  }
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

h3 {
  font-size: 60px;
}

p {
  line-height: 2;
  padding: 30px 0;
  margin: 0;
}

.section {
  padding: 100px 30px;
  min-height: 100vh;
}
@media screen and (min-width: 600px) {
  .section {
    display: flex;
    align-items: center;
    padding: 100px 150px;
  }
}
.section h3 {
  flex: 0 1 35%;
  align-items: flex-start;
  margin: 0;
}
.section .content {
  flex: 1 0 65%;
}
.section .content a {
  color: silver;
  text-decoration: none;
}
.section .list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2;
}
.section:nth-of-type(odd) {
  background-color: #121212;
}

.portfolio a:hover {
  color: silver;
}

.item {
  margin: 40px 20px;
  background-color: #1f1f1f;
}
@media screen and (min-width: 650px) {
  .item {
    margin: 20px;
    position: relative;
  }
}
.item__img {
  width: 100%;
  display: block;
}
.item__overlay {
  padding: 10px;
}
@media screen and (min-width: 650px) {
  .item__overlay {
    padding: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity ease 0.5s;
  }
}
.item__overlay p {
  padding: 0;
}
.item:hover .item__overlay {
  opacity: 1;
}

.contact {
  display: block;
}
@media screen and (min-width: 650px) {
  .contact .content {
    margin-left: 150px;
  }
}

.center {
  text-align: center;
}
.center a:hover {
  color: rgb(232, 108, 188);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social svg {
  margin: 20px;
}
.social svg:hover {
  fill: rgb(232, 108, 188);
}

.footer {
  text-align: center;
  padding: 30px;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */